openapi: "3.0.0"
info:
  description: ""
  version: "1.0.0"
  title: "hochwasserzentrale.de API"

servers:
  - url: "https://www.hochwasserzentralen.de"

paths:
  /webservices/get_infospegel.php:
    post:
      summary: Infos von einem Pegel.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                pgnr: # <!--- form field name
                  type: string
                  example: "HE_24820206"
                  description: Pegelname


  /webservices/get_infosbundesland.php:
    post:
      summary: Infos von einem Bundesland.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id: # <!--- form field name
                  type: string
                  example: "HE"
                  description: Bundesland (kurz)


  /webservices/get_lagepegel.php:
    get:
      summary: Lage der Pegel mit Pegelnummern
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagePegel"

  /vhosts/geojson/bundesland.{version}.geojson:
    get:
      summary: Geojson der Bundesländer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
      parameters:
        - in: path
          name: version
          required: true
          example: "20211130"
          schema:
            type: string

components:
  schemas:
    Result:
      type: string

    LagePegel:
      type: array
      items:
        type: object
        properties:
          HW:
            type: array
            example: ["-1", "-1", "-1"]
          LAT:
            type: array
            example: ["47.1601","53.9014","51.1248"]
          LON:
            type: array
            example: ["7.5470","9.8853","10.1968"]
          PGNR:
            type: array
            example: ["CH_2155","SH_114289","HE_41700105"]

