openapi: "3.0.0"
info:
  description: "Das Länderübergreifendes Hochwasserportal (LHP) bietet auf https://www.hochwasserzentralen.de über die hier dokumentierte API Informationen zur Hochwassersituation in Deutschland an. Betreiber des LHP sind das Bayerische Landesamt für Umwelt (LfU) und die Landesanstalt für Umwelt Baden-Württemberg (LUBW).

Die Urheberrechte an den veröffentlichten Daten liegen nach [Auskunft der Betreiber](https://www.hochwasserzentralen.de/impressum) bei der für das jeweilige Bundesland zuständigen Hochwasserzentrale bzw. beim jeweiligen Pegelbetreiber."
  version: "1.0.0"
  title: "hochwasserzentrale.de API"

servers:
  - url: "https://www.hochwasserzentralen.de"

paths:
  /webservices/get_infospegel.php:
    post:
      summary: Infos zu einem Pegel.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                pgnr:
                  type: string
                  example: "HE_24820206"
                  description: Pegelnummer


  /webservices/get_infosbundesland.php:
    post:
      summary: Infos zu einem Bundesland.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: "HE"
                  description: Bundeslandkürzel


  /webservices/get_lagepegel.php:
    get:
      summary: Lage der Pegel mit Pegelnummern
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagePegel"

  /vhosts/geojson/bundesland.{version}.geojson:
    get:
      summary: Geojson der Bundesländer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
      parameters:
        - in: path
          name: version
          required: true
          example: "20211130"
          schema:
            type: string

components:
  schemas:
    Result:
      type: string

    LagePegel:
      type: array
      items:
        type: object
        properties:
          HW:
            type: array
            items:
              type: string
            example: ["-1", "-1", "-1"]
          LAT:
            type: array
            items:
              type: string
            example: ["47.1601","53.9014","51.1248"]
          LON:
            type: array
            items:
              type: string
            example: ["7.5470","9.8853","10.1968"]
          PGNR:
            type: array
            items:
              type: string
            example: ["CH_2155","SH_114289","HE_41700105"]

